:root {
  --color-heading: #373837;
  --color-body: #535453;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --fs-h4: 28px;
  --fs-body: 18px;

  --lh-heading: 1.2;
  --lh-body: 1.4;

  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
}

.terms-main {
  padding: var(--space-sm);
  max-width: 900px;
  margin: 0 auto;
}

.terms {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.terms__section {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
}

.terms__title {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: var(--fs-h4);
  line-height: var(--lh-heading);
  color: var(--color-heading);
}

.terms__text {
  font-weight: 300;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--color-body);
}

.terms__list {
  margin-left: 27px;
  padding-left: 0;
  list-style-type: disc;
}

.terms__list li {
  margin-bottom: 4px;
}

/* Tablet */
@media (max-width: 1024px) {
  .terms-main {
    padding: var(--space-xs);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .terms__title {
    font-size: 24px;
  }

  .terms__text {
    font-size: 16px;
  }
}
